Daily (or Weekly) Sales Summary Email Agent/Daily (or Weekly) Sales Summary Email Agent.json
{
  "name": "Daily (or Weekly) Sales Summary Email Agent",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11jW8OX2iYgktat8UZoCh1pQ-5j2wsQJUp-apmi2dBW8",
          "mode": "list",
          "cachedResultName": "n8n sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11jW8OX2iYgktat8UZoCh1pQ-5j2wsQJUp-apmi2dBW8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 611455762,
          "mode": "list",
          "cachedResultName": "Daily/Weekly Report",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11jW8OX2iYgktat8UZoCh1pQ-5j2wsQJUp-apmi2dBW8/edit#gid=611455762"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        -96
      ],
      "id": "10d556e1-c9f7-437a-9195-4b0334f63b2c",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "{Google_API_Token}",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Convert Google Sheets rows into summary for today's sales\n\nfunction formatYMD(d) {\n  const year = d.getFullYear();\n  const month = String(d.getMonth() + 1).padStart(2, '0');\n  const day = String(d.getDate()).padStart(2, '0');\n  return `${year}-${month}-${day}`;\n}\n\nconst today = new Date();\nconst todayStr = formatYMD(today);\n\nlet totalSales = 0;\nlet totalOrders = 0;\n\nfor (const item of items) {\n  const row = item.json;\n\n  if (row.order_date === todayStr) {\n    totalOrders++;\n    const amount = parseFloat(row.total_amount || 0);\n    if (!isNaN(amount)) totalSales += amount;\n  }\n}\n\nreturn [\n  {\n    json: {\n      date: todayStr,\n      total_orders: totalOrders,\n      total_sales: Number(totalSales.toFixed(2)),\n      currency: \"USD\",\n      status: \"success\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        64,
        -96
      ],
      "id": "4886837e-c9ba-4a75-af36-2ffe3b6fb412",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f96e454-5bb5-4029-9a2d-e4a485404167",
              "leftValue": "={{ $json.total_sales }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        272,
        -96
      ],
      "id": "3ac88c60-507f-4167-a425-6e4e415a74e9",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "Send To",
        "subject": "=⚠️ Alert – No Sales Recorded on  {{ $json.date }}",
        "message": "=<p>Hi {Name of the Person to check}},</p>\n\n<p>There were <b>no sales recorded on {{$json[\"date\"]}}</b> in the sales sheet.</p>\n\n<p>You might want to check:</p>\n<ul>\n  <li>Was the product unavailable?</li>\n  <li>Was there any system or data entry issue?</li>\n  <li>Should an offer / promotion be considered?</li>\n</ul>\n\n<p>Let me know if I should generate a quick report on last week’s performance.</p>\n\n<p>Regards,<br>\nSales Query Agent</p>\n\n<hr>\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        -192
      ],
      "id": "263aec6f-c2fb-4fdb-8bf9-aa9e9ad17415",
      "name": "Send a message",
      "webhookId": "893b8735-fedc-4c92-ab94-eaa539c1b420",
      "credentials": {
        "gmailOAuth2": {
          "id": "gEDEFNEsaJmju6Fw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "{Mail_ID}",
        "subject": "=Daily Sales Summary – {{$json[\"date\"]}}",
        "message": "=<p>Hi {Name of the Person to Check},</p>\n\n<p>Here is the <b>sales summary for {{$json[\"date\"]}}</b>:</p>\n\n<table border=\"1\" cellpadding=\"6\" cellspacing=\"0\" style=\"border-collapse: collapse;\">\n  <tr>\n    <th>Total Orders</th>\n    <th>Total Sales</th>\n    <th>Currency</th>\n  </tr>\n  <tr>\n    <td>{{$json[\"total_orders\"]}}</td>\n    <td>${{$json[\"total_sales\"]}}</td>\n    <td>{{$json[\"currency\"]}}</td>\n  </tr>\n</table>\n\n<p>If you need a detailed breakdown, reply with:<br>\n<b>“Show product-wise sales for {{$json[\"date\"]}}”</b></p>\n\n<p>Hope you’re having a great day!</p>\n\n<p>Regards,<br>\nSales Query Agent</p>\n\n<hr>\n\n",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        528,
        16
      ],
      "id": "818153fe-8a6a-4549-bb92-0bd7b97bc164",
      "name": "Send a message1",
      "webhookId": "893b8735-fedc-4c92-ab94-eaa539c1b420",
      "credentials": {
        "gmailOAuth2": {
          "id": "gEDEFNEsaJmju6Fw",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 12,
              "triggerAtMinute": 21
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -96
      ],
      "id": "09481809-75fb-4aff-82f8-361fc48e1299",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3271d8a1-2cab-4537-82b1-66c194e38456",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a6427e9c6191c596a2be4b1e24537bb9c019e16b49b309847952a278f84efb79"
  },
  "id": "w3fOdHG6oyUohUQG",
  "tags": []
}